/*input[type="checkbox"]:after, #bms--comment-checkbox:after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  margin-top: 0;
  margin-right: 5px;
  border-radius: 2px;
}

input[type="checkbox"]:checked:after, #bms--comment-checkbox:checked:after {
  border: 1px solid #2092ff;
}*/