#multi-wrapper {
  background: #F0F2F5;
  padding: 7px;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  border-radius: 5px;
}
#query-mode {
  position: relative;
}
#query-mode:after {
  /* content: ''; */
  content: attr(querytext);
  /* text-shadow: 2px 2px 4px #b3b3b3; */
  color: white;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #0dc48aa6;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  /* background: #636363a6; */
  border: 3px dashed #0dc48a;
  border-radius: 5px;
}

