#modified-datepicker .ant-calendar-prev-year-btn {
  display: none;
}
#modified-datepicker .ant-calendar-next-year-btn {
  display: none;
}
#booking-form .bms-select {
  width: 200px;
}

#booking-form .bms-input {
  width: 95%;
}

.bms--icon-alive {
  color: #2baae0;
  margin-left: 4px;
  cursor: pointer;
}

.bms--icon-dead {
  color: #bfbfbf;
  margin-left: 4px;
  cursor: pointer;
}
