#checkbox-group {
  position: relative;
  /* height: 50px; */
}

#checkbox-group ::placeholder {
  color: #cecece;
}


#checkbox-group .row {
  margin-left: -8px;
  margin-right: -8px;
}

#checkbox-group > .checkbox-menu-scroll {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.22) 4px 8px 7px 0px;
  border-radius: 0 0 5px 5px;
  overflow-y: scroll;
  transition: all .2s;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  width: 100%;
  z-index: 16;
  max-height: 200px;
}

.show {
  opacity: 1;
}

.hide {
  pointer-events: none;
  opacity: 0;
}

#checkbox-group > .checkbox-menu-scroll::-webkit-scrollbar {
  width: 6px;
}

#checkbox-group > .checkbox-menu-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d4d4d4;
}

#checkbox-group > .checkbox-menu-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
}


#checkbox-group > .checkbox-menu-scroll label {
  transition: .2s all;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

#checkbox-group > .checkbox-menu-scroll input {
  height: 14px !important;
}

#checkbox-group > .checkbox-menu-scroll input[type=checkbox] {
  visibility: hidden;
}

#checkbox-group > .checkbox-menu-scroll input[type=checkbox]:checked+.tick::after {
  content: '\2713';
  position: absolute;
  right: 8px;
  color: #3294fa;
}

.checkbox-group-search {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-group-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 15;
}

#checkbox-group > .checkbox-menu-scroll label:hover {
  background: #e6f7ff;
  cursor: pointer;
}

.checkbox-group-single-wrapper:hover {
  background: #e6f7ff;
}

.checkbox-group-single-wrapper {
  transition: .2s all;
  cursor: pointer;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  z-index: 70;
}

.checkbox-group-tagslist {
  /* overflow: auto; */
  height: 40px;
  margin: 5px 0;
}

.checkbox-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.checkbox-tag {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', "tnum", "tnum";
  display: inline-block;
  height: auto;
  margin-right: 4px;
  padding: 0 7px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: default;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  margin-bottom: 4px;
}

.checkbox-tag-cross:hover {
  cursor: pointer;
}

.checkbox-tag-cross {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 300;
  font-size: 16px;
}
